#redbox {
    background-color: red;
    border-radius: 15px;
}

#orangebox {
   background-color: orange;
   border-radius: 15px;
}

#yellowbox {
  background-color: yellow;
  border-radius: 15px;
}

#bluebox {
  background-color: dodgerblue;
  border-radius: 15px;
}

#greenbox {
  background-color: #99ff66;
  border-radius: 15px;
}
