.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: orange;
  border: 4px solid red;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  display: center;
  align-self: center;
  font-size: 40px;
  font-weight: 10;
  line-height: 5;
  width: 100%;
  margin: 60px;
  padding: 5px 6px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: arial;
  font-weight: 700;
  align: center;
}
.btn:hover, .btn:focus {
  color: orange;
  outline: 3;
  background-color: white;
  border-radius: 10px;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 5 5 50px 50px #e74c3c inset;
}
.centre {
  float: centre;
}
