.numberPads{
  width: 70px;
  height: 70px;
  font-family: arial;
  font-size: 45px;
  text-align: center;
  color: white;
  background-color: yellow;
  display: inline-block;
  margin: 20px;
}
.title{
  text-align: center;
  font-family: sans-serif;
  font-size: 38px;
  color: black;
}
body {
  background-color: white;
}
main{ 
  background-color: black;
}
.resultzz{
  font-family: arial;
  font-size: 30px;
  background-color: red;
  color: lime;
  margin: 50px;
}
